{% block content %}
<div class="glass-box p-4 bg-dark text-light p-3" style="max-width:720px; margin:0 auto;">
    <h1>How it Works!</h1>
    <h6>Welcome to BUY BIT! Here's how the rewards game works:</h6>
    <ul>
      <li class="list-group-item">Join the game with a one-time £50 payment.</li>
      <li class="list-group-item">Get a unique referral link after joining.</li>
      <li class="list-group-item">Invite 2 people to earn profit from their purchases.</li>
      <li class="list-group-item">Earn through 10 levels of referrals as the network grows.</li>
      <li class="list-group-item">You can rejoin anytime to continue earning more.</li>
      <li class="list-group-item">You leave the cycle after 10 levels, but your previous invites continue.</li>
      <li class="list-group-item">All purchases include a discount code for graphic design services.</li>
    </ul>
  </div>


{% endblock %}
